name: Build MedicalCraft JAR

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven
      - run: java -version && mvn -version
      - run: mvn -DskipTests -e package
      - uses: actions/upload-artifact@v4
        with:
          name: MedicalCraft-jar
          path: target/*.jar
